@model Lab4.Models.ViewModel.CommunityViewModel

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class ="tr">
            <th class="th">
                 @Html.DisplayNameFor(model => Model.Students.ElementAt(0).FirstName)
            </th>
            <th class ="th">
                @Html.DisplayNameFor(model => Model.Students.ElementAt(0).LastName)
            </th>           
            <th class ="th">
                @Html.DisplayNameFor(model => Model.Students.ElementAt(0).EnrollmentDate)
            </th>
            <th>
                Operating
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr class ="tr">
                <td class="td">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class ="td">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>               
                <td class ="td">
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td class ="td">
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Membership" asp-route-id="@item.ID">Edit Memberships</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CommunityMemberships != null)
{
    <h2>Members of the community</h2>
    @if (Model.CommunityMemberships.Count() > 0)
    {
        <table>
            <tr>
                <td>
                    <font style="font-weight: bold"  color="red" face="Verdana">
                        Community:
                    </font>
                </td>
            </tr>
            <tr>
                <td>
                    <ol>
                        @foreach (var item1 in Model.CommunityMemberships)
                        {
                            <li>@Html.DisplayFor(modelItem => item1.Community.Title)</li>
                        }
                    </ol>
                </td>
            </tr>
        </table>
    }
    else
    {
        <h4>No membership exists</h4>
    }
}